.container {
  max-width: 1124px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
